<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Editor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="imageUpload" name="file">
    <button type="submit">Upload Image</button>
</form>

<div id="colorPalette">
    <button class="color-box" style="background-color: red;" data-color="red"></button>
    <button class="color-box" style="background-color: green;" data-color="green"></button>
    <button class="color-box" style="background-color: blue;" data-color="blue"></button>
</div>

<img id="uploadedImage" src="" style="display:none; max-width:100%;">

<input type="range" id="hue" min="-180" max="180" value="0">
<input type="range" id="saturation" min="-100" max="100" value="0">
<input type="range" id="luminance" min="-100" max="100" value="0">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
